# AltMetric Paper - Countries
in this notebook i will explore the countries part of the research.

In [124]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [125]:
df = pd.read_excel('Data/countries.xlsx')
df

,university,twitter,facebook,news,policy
0,atu,japan; usa; uk; malysia; spain; canada; austra...,usa; uk; australia; italy; costa rica; germany...,usa; uk; india; australia; france; bangladesh;...,switzerland; france; belgium; uk; canada; Denm...
1,ut,usa; uk; canada; france; spain; brazil; japan;...,usa; uk; canada; brazil; italy; india; austral...,usa; uk; australia; india; germany; spain; can...,switzerland; usa; italy; philipines; uk; luxem...
2,uisf,usa; uk; spain; japan; canada; france; austral...,usa; canada; uk; brazil; australia; italy; chi...,usa; uk; australia; india; germany; spain; can...,switzerland; usa; uk; canada; luxembourg; irel...
3,sut,usa; uk; canada; spain; australia; germany; sw...,usa; uk; canada; italy; germany; ireland; japa...,usa; uk; india; russia; australia; germany; sp...,usa; switzerland; italy; ireland; uk; france; ...
4,tmu,usa; uk; france; spain; germany; canada; iran;...,usa; uk; canada; brazil; australia; south afri...,usa; uk; australia; india; germany; spain; fra...,switzerland; italy; uk; usa; germany; luxembou...
5,aut,usa; uk; france; canada; spain; switzerland; a...,usa; uk; pakistan; canada; spain; brazil; germ...,usa; uk; india; australia; germany; spain; por...,switzerland; uk; luxembourg; canada; italy; ne...
6,ushi,usa; uk; canada; france; spain; germany; switz...,usa; uk; argentina; south africa; germany; spa...,usa; uk; australia; germany; india; new zealan...,switzerland; usa; italy; luxembourg; uk; nethe...
7,fum,uk; usa; spain; germany; japan; australia; can...,uk; usa; brazil; canada; italy; russia; india;...,usa; uk; india; australia; germany; spain; jap...,italy; switzerland; usa; luxembourg; sweden; b...
8,sbu,usa; brazil; uk; canada; france; germany; spai...,usa; uk; canada; portugal; india; italy; germa...,usa; uk; australia; germany; india; canada; tu...,switzerland; uk; usa; italy; netherlands; germ...
9,iut,usa; belgium; uk; france; spain; switzerland; ...,usa; pakistan; brazil; uk; portugal; switzerla...,usa; uk; russia; spain; australia; germany; in...,italy; switzerland; usa; luxembourg; philipine...
10,iust,usa; uk; japan; switzerland; canada; malysia; ...,usa; uk; serbia; poland; brazil; Denmark; germ...,usa; uk; germany; australia; iran; new zealand...,usa; luxembourg; switzerland; netherlands; phi...
11,utab,usa; uk; switzerland; spain; canada; australia...,usa; australia; uk; netherlands; switzerland; ...,usa; uk; india; australia; germany; netherland...,switzerland; italy; luxembourg; usa; canada; f...
12,knu,usa; uk; malysia; canada; switzerland; spain; ...,uk; usa; canada; Denmark; spain,usa; uk; australia; india; germany; china; ira...,switzerland; usa; luxembourg; italy; ireland; ...
13,ugui,usa; uk; spain; france; japan; germany; canada...,usa; brazil; uk; italy; australia; germany; se...,usa; uk; india; australia; germany; canada; sp...,italy; usa; uk; luxembourg; sweden; switzerlan...
14,ihu,uk; usa; signapor; india; brunei; france; aust...,canada,usa; iran; uk,switzerland

In [126]:
df = pd.concat([df[['university']], df.loc[:,'twitter':].apply(lambda x: x.str.split('; '))], axis='columns')
df

,university,twitter,facebook,news,policy
0,atu,"[japan, usa, uk, malysia, spain, canada, austr...","[usa, uk, australia, italy, costa rica, german...","[usa, uk, india, australia, france, bangladesh...","[switzerland, france, belgium, uk, canada, Den..."
1,ut,"[usa, uk, canada, france, spain, brazil, japan...","[usa, uk, canada, brazil, italy, india, austra...","[usa, uk, australia, india, germany, spain, ca...","[switzerland, usa, italy, philipines, uk, luxe..."
2,uisf,"[usa, uk, spain, japan, canada, france, austra...","[usa, canada, uk, brazil, australia, italy, ch...","[usa, uk, australia, india, germany, spain, ca...","[switzerland, usa, uk, canada, luxembourg, ire..."
3,sut,"[usa, uk, canada, spain, australia, germany, s...","[usa, uk, canada, italy, germany, ireland, jap...","[usa, uk, india, russia, australia, germany, s...","[usa, switzerland, italy, ireland, uk, france,..."
4,tmu,"[usa, uk, france, spain, germany, canada, iran...","[usa, uk, canada, brazil, australia, south afr...","[usa, uk, australia, india, germany, spain, fr...","[switzerland, italy, uk, usa, germany, luxembo..."
5,aut,"[usa, uk, france, canada, spain, switzerland, ...","[usa, uk, pakistan, canada, spain, brazil, ger...","[usa, uk, india, australia, germany, spain, po...","[switzerland, uk, luxembourg, canada, italy, n..."
6,ushi,"[usa, uk, canada, france, spain, germany, swit...","[usa, uk, argentina, south africa, germany, sp...","[usa, uk, australia, germany, india, new zeala...","[switzerland, usa, italy, luxembourg, uk, neth..."
7,fum,"[uk, usa, spain, germany, japan, australia, ca...","[uk, usa, brazil, canada, italy, russia, india...","[usa, uk, india, australia, germany, spain, ja...","[italy, switzerland, usa, luxembourg, sweden, ..."
8,sbu,"[usa, brazil, uk, canada, france, germany, spa...","[usa, uk, canada, portugal, india, italy, germ...","[usa, uk, australia, germany, india, canada, t...","[switzerland, uk, usa, italy, netherlands, ger..."
9,iut,"[usa, belgium, uk, france, spain, switzerland,...","[usa, pakistan, brazil, uk, portugal, switzerl...","[usa, uk, russia, spain, australia, germany, i...","[italy, switzerland, usa, luxembourg, philipin..."
10,iust,"[usa, uk, japan, switzerland, canada, malysia,...","[usa, uk, serbia, poland, brazil, Denmark, ger...","[usa, uk, germany, australia, iran, new zealan...","[usa, luxembourg, switzerland, netherlands, ph..."
11,utab,"[usa, uk, switzerland, spain, canada, australi...","[usa, australia, uk, netherlands, switzerland,...","[usa, uk, india, australia, germany, netherlan...","[switzerland, italy, luxembourg, usa, canada, ..."
12,knu,"[usa, uk, malysia, canada, switzerland, spain,...","[uk, usa, canada, Denmark, spain]","[usa, uk, australia, india, germany, china, ir...","[switzerland, usa, luxembourg, italy, ireland,..."
13,ugui,"[usa, uk, spain, france, japan, germany, canad...","[usa, brazil, uk, italy, australia, germany, s...","[usa, uk, india, australia, germany, canada, s...","[italy, usa, uk, luxembourg, sweden, switzerla..."
14,ihu,"[uk, usa, signapor, india, brunei, france, aus...",[canada],"[usa, iran, uk]",[switzerland]

In [127]:
def make_weighted(cell):
    temp_lst = []
    for country in cell:
        if cell.index(country) == 0:
            temp_lst.append((country, 4))
        elif cell.index(country) == 1:
            temp_lst.append((country, 3))
        elif cell.index(country) == 2:
            temp_lst.append((country, 2))
        else:
            temp_lst.append((country, 1))
    return temp_lst

In [128]:
df = pd.concat([df[['university']], df.loc[:,'twitter':].map(make_weighted)], axis='columns') #type: ignore
df

,university,twitter,facebook,news,policy
0,atu,"[(japan, 4), (usa, 3), (uk, 2), (malysia, 1), ...","[(usa, 4), (uk, 3), (australia, 2), (italy, 1)...","[(usa, 4), (uk, 3), (india, 2), (australia, 1)...","[(switzerland, 4), (france, 3), (belgium, 2), ..."
1,ut,"[(usa, 4), (uk, 3), (canada, 2), (france, 1), ...","[(usa, 4), (uk, 3), (canada, 2), (brazil, 1), ...","[(usa, 4), (uk, 3), (australia, 2), (india, 1)...","[(switzerland, 4), (usa, 3), (italy, 2), (phil..."
2,uisf,"[(usa, 4), (uk, 3), (spain, 2), (japan, 1), (c...","[(usa, 4), (canada, 3), (uk, 2), (brazil, 1), ...","[(usa, 4), (uk, 3), (australia, 2), (india, 1)...","[(switzerland, 4), (usa, 3), (uk, 2), (canada,..."
3,sut,"[(usa, 4), (uk, 3), (canada, 2), (spain, 1), (...","[(usa, 4), (uk, 3), (canada, 2), (italy, 1), (...","[(usa, 4), (uk, 3), (india, 2), (russia, 1), (...","[(usa, 4), (switzerland, 3), (italy, 2), (irel..."
4,tmu,"[(usa, 4), (uk, 3), (france, 2), (spain, 1), (...","[(usa, 4), (uk, 3), (canada, 2), (brazil, 1), ...","[(usa, 4), (uk, 3), (australia, 2), (india, 1)...","[(switzerland, 4), (italy, 3), (uk, 2), (usa, ..."
5,aut,"[(usa, 4), (uk, 3), (france, 2), (canada, 1), ...","[(usa, 4), (uk, 3), (pakistan, 2), (canada, 1)...","[(usa, 4), (uk, 3), (india, 2), (australia, 1)...","[(switzerland, 4), (uk, 3), (luxembourg, 2), (..."
6,ushi,"[(usa, 4), (uk, 3), (canada, 2), (france, 1), ...","[(usa, 4), (uk, 3), (argentina, 2), (south afr...","[(usa, 4), (uk, 3), (australia, 2), (germany, ...","[(switzerland, 4), (usa, 3), (italy, 2), (luxe..."
7,fum,"[(uk, 4), (usa, 3), (spain, 2), (germany, 1), ...","[(uk, 4), (usa, 3), (brazil, 2), (canada, 1), ...","[(usa, 4), (uk, 3), (india, 2), (australia, 1)...","[(italy, 4), (switzerland, 3), (usa, 2), (luxe..."
8,sbu,"[(usa, 4), (brazil, 3), (uk, 2), (canada, 1), ...","[(usa, 4), (uk, 3), (canada, 2), (portugal, 1)...","[(usa, 4), (uk, 3), (australia, 2), (germany, ...","[(switzerland, 4), (uk, 3), (usa, 2), (italy, ..."
9,iut,"[(usa, 4), (belgium, 3), (uk, 2), (france, 1),...","[(usa, 4), (pakistan, 3), (brazil, 2), (uk, 1)...","[(usa, 4), (uk, 3), (russia, 2), (spain, 1), (...","[(italy, 4), (switzerland, 3), (usa, 2), (luxe..."
10,iust,"[(usa, 4), (uk, 3), (japan, 2), (switzerland, ...","[(usa, 4), (uk, 3), (serbia, 2), (poland, 1), ...","[(usa, 4), (uk, 3), (germany, 2), (australia, ...","[(usa, 4), (luxembourg, 3), (switzerland, 2), ..."
11,utab,"[(usa, 4), (uk, 3), (switzerland, 2), (spain, ...","[(usa, 4), (australia, 3), (uk, 2), (netherlan...","[(usa, 4), (uk, 3), (india, 2), (australia, 1)...","[(switzerland, 4), (italy, 3), (luxembourg, 2)..."
12,knu,"[(usa, 4), (uk, 3), (malysia, 2), (canada, 1),...","[(uk, 4), (usa, 3), (canada, 2), (Denmark, 1),...","[(usa, 4), (uk, 3), (australia, 2), (india, 1)...","[(switzerland, 4), (usa, 3), (luxembourg, 2), ..."
13,ugui,"[(usa, 4), (uk, 3), (spain, 2), (france, 1), (...","[(usa, 4), (brazil, 3), (uk, 2), (italy, 1), (...","[(usa, 4), (uk, 3), (india, 2), (australia, 1)...","[(italy, 4), (usa, 3), (uk, 2), (luxembourg, 1..."
14,ihu,"[(uk, 4), (usa, 3), (signapor, 2), (india, 1),...","[(canada, 4)]","[(usa, 4), (iran, 3), (uk, 2)]","[(switzerland, 4)]"

In [129]:
def create_countries_dict(series):
    countries_dict = {}
    for i in range(len(df.loc[:,'twitter':'policy'].columns)):
        for country, weight in series.iloc[i]:
            if country not in countries_dict:
                countries_dict[country] = weight
            else:
                countries_dict[country] += weight
    return sorted(countries_dict.items(), key=lambda item: item[1], reverse=True)

In [130]:
df['countries_dict'] = df.loc[:,'twitter':'policy'].apply(create_countries_dict, axis=1)
df

,university,twitter,facebook,news,policy,countries_dict
0,atu,"[(japan, 4), (usa, 3), (uk, 2), (malysia, 1), ...","[(usa, 4), (uk, 3), (australia, 2), (italy, 1)...","[(usa, 4), (uk, 3), (india, 2), (australia, 1)...","[(switzerland, 4), (france, 3), (belgium, 2), ...","[(usa, 12), (uk, 9), (switzerland, 6), (japan,..."
1,ut,"[(usa, 4), (uk, 3), (canada, 2), (france, 1), ...","[(usa, 4), (uk, 3), (canada, 2), (brazil, 1), ...","[(usa, 4), (uk, 3), (australia, 2), (india, 1)...","[(switzerland, 4), (usa, 3), (italy, 2), (phil...","[(usa, 15), (uk, 10), (canada, 6), (italy, 4),..."
2,uisf,"[(usa, 4), (uk, 3), (spain, 2), (japan, 1), (c...","[(usa, 4), (canada, 3), (uk, 2), (brazil, 1), ...","[(usa, 4), (uk, 3), (australia, 2), (india, 1)...","[(switzerland, 4), (usa, 3), (uk, 2), (canada,...","[(usa, 15), (uk, 10), (canada, 6), (spain, 5),..."
3,sut,"[(usa, 4), (uk, 3), (canada, 2), (spain, 1), (...","[(usa, 4), (uk, 3), (canada, 2), (italy, 1), (...","[(usa, 4), (uk, 3), (india, 2), (russia, 1), (...","[(usa, 4), (switzerland, 3), (italy, 2), (irel...","[(usa, 16), (uk, 10), (canada, 6), (germany, 4..."
4,tmu,"[(usa, 4), (uk, 3), (france, 2), (spain, 1), (...","[(usa, 4), (uk, 3), (canada, 2), (brazil, 1), ...","[(usa, 4), (uk, 3), (australia, 2), (india, 1)...","[(switzerland, 4), (italy, 3), (uk, 2), (usa, ...","[(usa, 13), (uk, 11), (canada, 5), (switzerlan..."
5,aut,"[(usa, 4), (uk, 3), (france, 2), (canada, 1), ...","[(usa, 4), (uk, 3), (pakistan, 2), (canada, 1)...","[(usa, 4), (uk, 3), (india, 2), (australia, 1)...","[(switzerland, 4), (uk, 3), (luxembourg, 2), (...","[(usa, 13), (uk, 12), (switzerland, 5), (franc..."
6,ushi,"[(usa, 4), (uk, 3), (canada, 2), (france, 1), ...","[(usa, 4), (uk, 3), (argentina, 2), (south afr...","[(usa, 4), (uk, 3), (australia, 2), (germany, ...","[(switzerland, 4), (usa, 3), (italy, 2), (luxe...","[(usa, 15), (uk, 10), (canada, 5), (switzerlan..."
7,fum,"[(uk, 4), (usa, 3), (spain, 2), (germany, 1), ...","[(uk, 4), (usa, 3), (brazil, 2), (canada, 1), ...","[(usa, 4), (uk, 3), (india, 2), (australia, 1)...","[(italy, 4), (switzerland, 3), (usa, 2), (luxe...","[(uk, 12), (usa, 12), (italy, 5), (australia, ..."
8,sbu,"[(usa, 4), (brazil, 3), (uk, 2), (canada, 1), ...","[(usa, 4), (uk, 3), (canada, 2), (portugal, 1)...","[(usa, 4), (uk, 3), (australia, 2), (germany, ...","[(switzerland, 4), (uk, 3), (usa, 2), (italy, ...","[(usa, 14), (uk, 11), (brazil, 5), (canada, 5)..."
9,iut,"[(usa, 4), (belgium, 3), (uk, 2), (france, 1),...","[(usa, 4), (pakistan, 3), (brazil, 2), (uk, 1)...","[(usa, 4), (uk, 3), (russia, 2), (spain, 1), (...","[(italy, 4), (switzerland, 3), (usa, 2), (luxe...","[(usa, 14), (uk, 7), (italy, 6), (switzerland,..."
10,iust,"[(usa, 4), (uk, 3), (japan, 2), (switzerland, ...","[(usa, 4), (uk, 3), (serbia, 2), (poland, 1), ...","[(usa, 4), (uk, 3), (germany, 2), (australia, ...","[(usa, 4), (luxembourg, 3), (switzerland, 2), ...","[(usa, 16), (uk, 10), (germany, 4), (switzerla..."
11,utab,"[(usa, 4), (uk, 3), (switzerland, 2), (spain, ...","[(usa, 4), (australia, 3), (uk, 2), (netherlan...","[(usa, 4), (uk, 3), (india, 2), (australia, 1)...","[(switzerland, 4), (italy, 3), (luxembourg, 2)...","[(usa, 13), (uk, 8), (switzerland, 7), (austra..."
12,knu,"[(usa, 4), (uk, 3), (malysia, 2), (canada, 1),...","[(uk, 4), (usa, 3), (canada, 2), (Denmark, 1),...","[(usa, 4), (uk, 3), (australia, 2), (india, 1)...","[(switzerland, 4), (usa, 3), (luxembourg, 2), ...","[(usa, 14), (uk, 10), (switzerland, 5), (canad..."
13,ugui,"[(usa, 4), (uk, 3), (spain, 2), (france, 1), (...","[(usa, 4), (brazil, 3), (uk, 2), (italy, 1), (...","[(usa, 4), (uk, 3), (india, 2), (australia, 1)...","[(italy, 4), (usa, 3), (uk, 2), (luxembourg, 1...","[(usa, 15), (uk, 10), (italy, 5), (spain, 4), ..."
14,ihu,"[(uk, 4), (usa, 3), (signapor, 2), (india, 1),...","[(canada, 4)]","[(usa, 4), (iran, 3), (uk, 2)]","[(switzerland, 4)]","[(usa, 7), (uk, 6), (iran, 4), (canada, 4), (s..."

In [131]:
def create_countries_dict_row(series):
    countries_dict = {}
    for i in range(df.loc[:,'twitter':'policy'].shape[0]):
        for country, weight in series.iloc[i]:
            if country not in countries_dict:
                countries_dict[country] = weight
            else:
                countries_dict[country] += weight
    return sorted(countries_dict.items(), key=lambda item: item[1], reverse=True)

In [132]:
df.loc[:,'twitter':'policy'].apply(create_countries_dict_row, axis=0)

twitter     [(usa, 57), (uk, 44), (japan, 17), (spain, 17)...
facebook    [(usa, 54), (uk, 39), (canada, 22), (brazil, 1...
news        [(usa, 60), (uk, 44), (india, 20), (australia,...
policy      [(switzerland, 52), (usa, 33), (italy, 28), (u...
dtype: object

----
## Visualization